img {
    max-width: 370px;
    max-height: 330px;
}
.bg-info{
    padding-top: 200px;
}
.col-10{
    min-width: 370px;
    min-height: 1240px;
    border: 1px solid white;
}

/*
He creado 2 col de 6.
les agregué bg color a cada una.
luego borré el contenido de 1, le meti la img, con las medidas que quería de la img
y luego debajo le meti el h2, y luego le agregué padding top para que me lo baje al centro.
De esta manera tenemos un buen comienzo para centrar img y h2, y luego el form.
No está mal. Intentar seguir por ahí
*/